@import url("https://fonts.googleapis.com/css?family=Dosis");

:root {
    /* generic */
    --gutterSmall: 0.4rem;
    --gutterMedium: 0.8rem;
    --gutterLarge: 1.6rem;
    --gutterExtralarge: 2.4rem;
    --gutterExtraextra: 7.2rem;
    --colorPrimary400: #60F896;
    --colorPrimary600: #40E664;
    --colorPrimary800: #20D432;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSmall: 1.2rem;
    --fontSizeMedium: 1.6rem;
    --fontSizeLarge: 2.1rem;
    --fontSizeExtralarge: 2.8rem;
    --fontSizeExtraextra: 3.6rem;
    --lineHeightSmall: 1.1;
    --lineHeightMedium: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

    
    --inputPaddingVertical: var(--gutterMedium);
    --inputPaddingHorizontal: var(--gutterLarge);
    --inputFontSize: var(--fontSizeLarge);
    --inputLineHeight: var(--lineHeightMedium);
    --labelScaleFactor: 0.8;
    --labelDefaultPositionY: 50%;
    --labelTransformedPositionY: calc(
    (var(--labelDefaultPositionY)) -
    (var(--inputPaddingVertical) * var(--labelScaleFactor)) -
    (var(--inputFontSize) * var(--inputLineHeight))
  );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-color: transparent;
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMedium);
    line-height: var(--lineHeightMedium);
}

.container--wrapper {
    flex: 0 0 80%;
    max-width: 80%;
}

.title {
    margin: 0 0 var(--gutterExtraextra) 0;
    padding: 0;
    color: #000;
    font-size: var(--fontSizeExtraextra);
    font-weight: 400;
    line-height: var(--lineHeightSmall);
    text-align: center;
    text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.input {
    position: relative;
}

.input--text {
    display: block;
    margin: 0;
    padding: var(--inputPaddingVertical) var(--inputPaddingHorizontal);
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: 0.5px solid #000;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
}

.input--text::-webkit-input-placeholder {
    color: #B0BEC5;
}

.input--text:-ms-input-placeholder {
    color: #B0BEC5;
}

.input--text::-ms-input-placeholder {
    color: #B0BEC5;
}

.input--text::placeholder {
    color: #B0BEC5;
}

.input--text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.input--label {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 1rem;
    color: #000;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    opacity: 0;
    -webkit-transform: translate3d(0, var(--labelDefaultPositionY), 0) scale(1);
    transform: translate3d(0, var(--labelDefaultPositionY), 0) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF), -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
    transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), transform var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
    transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), transform var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF), -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
}

.input--text:placeholder-shown + .input--label {
    visibility: hidden;
    z-index: -1;
}

.input--text:not(:placeholder-shown) + .input--label,
.input--text:focus:not(:placeholder-shown) + .input--label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, var(--labelTransformedPositionY), 0) scale(var(--labelScaleFactor));
    transform: translate3d(0, var(--labelTransformedPositionY), 0) scale(var(--labelScaleFactor));
    transition: visibility 0ms, z-index 0ms, -webkit-transform var(--inputTransitionDuration);
    transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms;
    transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms, -webkit-transform var(--inputTransitionDuration);
}
